*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background:#181818;
    font-family: 'Source Sans Pro', sans-serif;
}
a 
{
    text-decoration: none   ;
}

.contenedor
{
    width: 90%;
    max-width: 800px;
    margin: auto;
}
/**********************
//      HEADER      ///
**********************/
header
{
    padding: 40px 0;
}

header .logo
{
    text-align: center;
    margin-bottom: 40px;
}

header .logo p 
{
    color: darkslategray;
}
header form
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
header .bar-busqueda 
{
    width: 80%;
    height: 40px;
    line-height: 40px;
    background: #ffffff;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    font-size: 16px;
}
header .categorias
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
header .categorias a 
{
    color: gray;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}
header .categorias a.activo
{
     color:#000;
}

/*---------------*/
/*-----GRID----------*/
/*---------------*/
.grid
{
    position: relative;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s linear 1s;
    /**/
}
.grid.img-load
{
opacity: 1;
}

.grid .item
{
    position:absolute;
    display: block;
    padding: 0px;
    margin: 10px;
    width: calc(33.333333% - 22px);
}
.grid .item-content
{
    position: relative;
    cursor: pointer;
    vertical-align: top;
}
.grid .item  img
{
    width: 100%;
}
